* {
    margin: 0;
}

/*------------Navbar------------*/
.navbar {
    position: absolute;
    width: 100%;
    font-family: "Roboto";
}

.nav__name {
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
    text-shadow: .7px .7px #000;
}



/*-----------Introduction-----------*/
.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
    background-size: cover;
    background-position: center;
    height: 35rem;
    width: 100%;
    border-radius: 0;
    z-index: -1;   
    opacity: 0.85;
}

.jumbotron > .title {
    color: white;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
    padding-top: 5rem;
    text-shadow: 1.6px 1.6px #000;
    text-transform: uppercase;
    
}


.jumbotron > .subtitle {
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 1.2px 1.2px #000;
}

/*-------------ABOUT----------*/

.profile{
    position: relative;
    text-align: center;
    font-weight: 100;
    height: 30rem;

}

.profile > h2 {
    margin-top: 2rem;
    text-transform: uppercase;
    text-shadow: 1.6px 1.6px #fff5;
}

.profile > img {
    height: 180px;
    width: 180;
    border-radius: 180px;
    margin: 2rem 0 3rem 0;
}

.profile > p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
}

.profile > p > span {
    color: #0e3c77;
    font-weight: 600;
}