* {
    margin: 0;
}

/* -----DIVIDER ----- */

hr {
    border: dotted rgba(1, 1, 1, 0.6) 10px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

/*------------Navbar------------*/
.navbar {
    position: absolute;
    width: 100%;
    font-family: "Roboto";
}

.nav__name {
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
    text-shadow: .7px .7px #000;
}



/*-----------Introduction-----------*/
.jumbotron {
    background-image: url("https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
    background-size: cover;
    background-position: center;
    height: 44rem;
    width: 100%;
    border-radius: 0;
    z-index: -1;   
    opacity: 0.85;
}

.jumbotron > .title {
    color: white;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
    padding-top: 5rem;
    text-shadow: 1.6px 1.6px #000;
    text-transform: uppercase;
    
}


.jumbotron > .subtitle {
    color: white;
    font-weight: 100;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 1.2px 1.2px #000;
}

/*-------------ABOUT----------*/

.profile{
    text-align: center;
    font-weight: 100;
    height: 40rem;

}

@media only screen and (min-width: 928px) {
    .profile {
      height: 28rem;
    }
  }


.profile > h2 {
    margin-top: 5rem;
    text-transform: uppercase;
    text-shadow: 1.6px 1.6px #fff5;
}

.profile > img {
    height: 180px;
    width: 180;
    border-radius: 180px;
    margin-top: 2rem;
}

.profile > p {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: justify;
    padding: 2rem;
    line-height: 2.5;
}

.profile > p > span {
    color: #0e3c77;
    font-weight: 600;
}

/* ----------- WHAT I DO ----------- */
.skills {
    text-align: center;
    font-weight: 100;
    height: 52rem;

}

@media only screen and (max-width: 1000px) {
    .skills {
      height: 65rem;
    }
  }

.skills > h2 {
    text-transform: uppercase;
    text-shadow: 1.6px 1.6px #fff5;  
}

.skills > p {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
}

.skill__row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code__pic {
    width: 25%;
    float: left;
    margin-right: 10px;
    
}
.design__pic {
    width: 25%;
    float: right;
    margin-left: 10px;
}
.music__pic {
    width: 25%;
    float: left;
    margin-right: 10px
}





/*---------- FOOTER ----------*/

#footer {
    position: relative;
}