* {
    margin: 0;
    padding: 0;
}

/* -----DIVIDER ----- */

hr {
    border: dotted rgba(1, 1, 1, 0.6) 10px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

/*------------Navbar------------*/
.navbar {
    position: fixed; 
    top: 0;
    font-family: "Roboto";
    margin-left: 0;
    width: 100%;
    transition: 0.7s;
    z-index: 1;
}

nav.sticky {
   background: #111;
   height:  3.5rem;
   font-size: .97rem;

}

.nav__name {
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
    text-shadow: .7px .7px #000;
    font-size: 1.5rem;
}

  .navbar .navbar-collapse {
    text-align: right;
   
    
  }

  .resume__btn {
      padding: 2px 0;
      margin: 0;
  }
  @media only screen and (max-width: 768px) {
    .resume__btn {
       margin-left: 80%;
    }
    nav.sticky {
        height: auto;
    }
  }

  .nav__logo{
      color: #fff;
  }



/*-----------Introduction-----------*/
.jumbotron {

    background:
    linear-gradient(  
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), 
      url("https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
    background-size: cover;
    background-position: center;
    height: 44rem;
    width: 100%;
    border-radius: 0;
      
}



.jumbotron > .title {
    color: white;
    font-weight: 200;
    font-size: 4rem;
    text-align: center;
    padding-top: 5rem;
    text-shadow: 1.6px 1.6px #000;
    text-transform: uppercase;
   
}


.jumbotron > .subtitle {
    color: white;
    font-weight: 100;
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 1.2px 1.2px #000;
}

/*-------------ABOUT----------*/


.profile{
    text-align: center;
    font-weight: 100;
    height: 50rem;
    background-color: rgba(233, 233, 233, 0.164);
    box-shadow: 6.5px 3.5px 3.5px gray;
}

@media only screen and (min-width: 928px) {
    .profile {
      height: 35rem;
    }
  }


.profile > h2 {
    margin-top: 2rem;
    padding-top: 1rem;
    text-transform: uppercase;
    text-shadow: 1.6px 1.6px #fff5;
}

.profile > img {
    height: 180px;
    width: 180;
    border-radius: 180px;
    margin-top: 2rem;
}

.profile > p {
    font-size: 1.3rem;
    font-weight: 300;
    text-align: justify;
    margin: 2rem;
    padding-bottom: 2rem;
    line-height: 2.5;
    
}

.profile > p > span {
    color: #0e3c77;
    font-weight: 600;
}

/* ----------- WHAT I DO ----------- */
.skills {
    text-align: center;
    font-weight: 100;
    height: 52rem;

}

@media only screen and (max-width: 1000px) {
    .skills {
      height: 68rem;
    }
  }

.skills > h2 {
    text-transform: uppercase;
    text-shadow: 1.6px 1.6px #fff5;  
}
.fa-quote-left {
    margin-right: .75rem;
}

.skills > p {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2rem;
    line-height: 2;

}

.skill__row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code__pic {
    width: 25%;
    float: left;
    margin-right: 10px;
    
}
.design__pic {
    width: 25%;
    float: right;
    margin-left: 10px;
}
.music__pic {
    width: 25%;
    float: left;
    margin-right: 10px
}

/* ---------- EXPERIENCE ----------*/

#experience {
    text-align: center;
    padding: 3rem;
    
}

.experience > h2 {
    margin-bottom: 2rem;
}

.technologies__logos {
    width: 5rem;
    height: 5rem;
    margin: 3rem;
    opacity: 0.85;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.4s;
}

.technologies__logos:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

/* -------- PORTFOLIO ----------- */
.portfolio {
    height: 35rem;
    text-align: center;
}

.portfolio > h2 {
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.card{
    border: none;
}
.card-img-top {
    opacity: 0.90;
    transition: 0.3s;
}

.card-img-top:hover {
   opacity: 1;
}

.card-title{
    font-weight: 400;
    font-size: 1.2rem;
}
.project__code {
    height: 2.5rem;
}

.project__technologies{
    height: 1.25rem;
    margin: .2rem;
}

.btn-outline-primary{
    margin: 1rem;
    padding: .2rem;
}

/*---------- CONTACT -----------*/
.contact {
    margin-top: 20rem;
    text-align: center;
    padding: 2rem;
}

.contact__container {
    background-color: rgba(223, 223, 223, 0.479);
    
}

@media only screen and (max-width: 768px) {
    .contact {
      margin-top: 30rem;
    }
  }

.contact > h2 {
    text-transform: uppercase;
}

.plane__icon {
    font-size: 4rem;
    margin: 2rem;
}



/*---------- FOOTER ----------*/

.footer {
    padding-top: 2rem;
    text-align: center;
    color: #fff;
    margin-bottom: 0 auto;
    background:  linear-gradient(  
        rgb(63, 63, 63),
        rgb(0, 0, 0)
      )
}

.fa-chevron-circle-right{
    margin-right: 5px;
}

.footer__icons {
    padding: 2rem 0;
}

.social-icon {
    color: white;
    background-color: black;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    transition: 0.4s;
}

.copyright {
    font-size: 0.8rem;
}

.facebook:hover {
    color: white;
    background-color: #3b5998;
    font-size: 1.75rem;
    padding-top: 0;
}
.twitter:hover {
    color: white;
    background: #00acee;
    font-size: 1.75rem;
    padding-top: 0;
}
.instagram:hover {
    color: white;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    font-size: 1.75rem;
    padding-top: 0;
}
.youtube:hover {
    color: white;
    background:#FF0000;
    font-size: 1.75rem;
    padding-top: 0;
}
.spotify:hover {
    color: white;
    background:#1DB954;
    font-size: 1.75rem;
    padding-top: 0;
}
.github:hover {
    color: #211F1F;
    background: white;
    font-size: 1.75rem;
    padding-top: 0;
}
.codepen:hover {
    color: #111;
    background: white;
    font-size: 1.75rem;
    padding-top: 0;
}